:root {
  --black-color: #282c3f;
  --red-color: #fc2020;
  --white-color: #fff;
  --green-color: #158c8d;
  --gray-color: #a7a7a7;
  --btn-green:#117a7a;
}

.Wrapper {
  padding-right: 1rem !important;
  padding-left: 1.25rem !important;
}

.padding-wrapper {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding: 1.25rem;
}

.bottoms-borders {
  border-bottom: 1px dashed #969696 !important;
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
}
